.App {
  text-align: center;
}

.view-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.view-list li {
  width: 120px;
  height: 160px;
  background-color: #eee;
}
